<template>
  <div>
    <b-button
      variant="success"
      class="float-right"
      @click="addNewUser"
      v-b-modal.modal-add-new-user
      >Add New</b-button
    >
    <b-modal
      id="modal-add-new-user"
      ref="modal-add-new-user"
      title="เพิ่มผู้ใช้ใหม่"
      @show="resetModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Name"
          label-for="name-input"
          invalid-feedback="Name is required"
          :state="nameState"
        >
          <b-form-input
            id="name-input"
            v-model="name"
            :state="nameState"
            required
          ></b-form-input>
        </b-form-group>
      </form>
    </b-modal>
    <b-table striped hover :items="userList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editUser(data)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delUser(data)">Delete</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
export default {
  data () {
    return {
      userList: [
        {
          id: 1,
          name: 'Nutthaporn',
          gender: 'G'
        },
        {
          id: 2,
          name: 'Prasob',
          gender: 'M'
        }
      ],
      lastId: 3,
      fields: ['id', 'name', 'gender', 'operation']
    }
  },
  methods: {
    editUser (user) {},
    delUser (user) {},
    addNewUser () {}
  }
}
</script>
